name: build

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        ghc: ['8.6', '8.8', '8.10', '9.0', '9.2', '9.4', 'latest']
        os: ['ubuntu-latest']
    runs-on: ${{ matrix.os }}
    name: GHC ${{ matrix.ghc }} on ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - uses: haskell/actions/setup@v2
      with:
        ghc-version: ${{ matrix.ghc }}
    - name: Cache
      uses: actions/cache@v3
      env:
        cache-name: cabal
      with:
        path: ~/.cabal
        key: ${{ runner.os }}-${{ matrix.ghc }}-${{ env.cache-name }}
        restore-keys: |
          ${{ runner.os }}-${{ matrix.ghc }}-${{ env.cache-name }}
          ${{ runner.os }}-${{ matrix.ghc }}
          ${{ runner.os }}
    - name: Install dependencies
      run: |
        cabal update
        cabal build all --only-dependencies --enable-tests --enable-benchmarks
    - name: Build
      run: cabal build --enable-tests --enable-benchmarks all
    - name: Run tests
      run: cabal test all
    - name: Build Docs
      run: cabal haddock all
